<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conexion" connectionString="Data Source=LAPTOP-TC62UATI\SQL2019; Initial Catalog=Acervo; Integrated Security=True; Application Name=ScvPpt Interface;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>